apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: run-full-export
spec:
  schedule: "0 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: run-full-export
            image: gcr.io/mmc-dppo/hikma-health-backend:5daee25376c6c956e41f1153dfb2eb4486b29a8a
            command:
            - /bin/bash
            - run-export.sh
          restartPolicy: OnFailure
